/*
    0-600px: Phone
    600px+: Desktop

*/
:root {
  --color-primary-luna:#FBEFEC;
  --color-primary-harry:#215E99;
  --color-primary-hagrid:#000000;
  --color-primary-hermione:#EC552F;
  --color-secondary-dobby:#FFFFFF;
  --color-secondary-Ron:#FFF7ED;
  --color-secondary-severus:#7F8E9D;
  --color-secondary-voldemort:#C7CAD9;
  --color-notification-success: #4CA484; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Avenir", Arial; }
  @media (max-width: 600px) {
    html {
      font-size: 50%; } }

.heading-secondary {
  color: var(--color-primary-hermione);
  margin-bottom: 1rem; }
  @media (max-width: 600px) {
    .heading-secondary {
      font-size: 3rem; } }

.heading-tertiary {
  color: var(--color-primary-hermione);
  margin-bottom: 1rem;
  font-weight: 100; }
  @media (max-width: 600px) {
    .heading-tertiary {
      font-size: 2.5rem; } }

.heading-secondary--form {
  color: var(--color-primary-hermione);
  margin-bottom: 4rem;
  font-weight: 100; }
  @media (max-width: 600px) {
    .heading-secondary--form {
      font-size: 3rem;
      margin-left: 10%; } }

.heading-secondary--form--mobile {
  color: var(--color-primary-hermione);
  margin-bottom: 4rem;
  font-weight: 600;
  margin-left: 10%;
  font-size: 2.2rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-big-2 {
  margin-top: 12rem !important; }

.u-padding-every-side-small {
  padding: 2rem; }

.u-grey-overlay-mobile {
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  transition: background .3s linear; }
  @media (min-width: 600px) {
    .u-grey-overlay-mobile {
      display: none; } }

.hide {
  display: none !important; }

.u-position-relative {
  position: relative; }

.user-credentials {
  display: flex;
  justify-content: center; }
  @media (max-width: 600px) {
    .user-credentials {
      display: none; } }
  .user-credentials__go-back {
    width: fit-content; }
    .user-credentials__go-back > span {
      color: var(--color-primary-harry);
      margin-left: 8rem;
      font-size: 4rem; }
  .user-credentials__container {
    padding: 8rem;
    font-size: 1.5rem;
    position: relative; }
    .user-credentials__container .heading-secondary {
      color: var(--color-primary-hermione);
      margin-bottom: 1rem; }
    .user-credentials__container .heading-tertiary {
      color: var(--color-primary-hermione);
      margin-bottom: 4rem;
      font-weight: 100; }
  .user-credentials__link {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 5.5rem;
    font-weight: 500;
    color: var(--color-primary-harry); }
    .user-credentials__link span > a {
      color: var(--color-primary-hermione);
      text-decoration: none; }
    @media (max-width: 600px) {
      .user-credentials__link {
        position: initial;
        font-size: 2rem;
        margin-top: 0; } }

.user-credentials-mobile {
  font-size: 2.5rem; }
  @media (min-width: 600px) {
    .user-credentials-mobile {
      display: none; } }

.business-design {
  width: 50%;
  height: auto;
  padding: 5rem;
  background-color: var(--color-primary-luna); }
  @media (max-width: 600px) {
    .business-design {
      display: none; } }
  .business-design__header {
    width: 60%;
    color: var(--color-primary-harry);
    font-size: 2.5rem;
    margin-top: 2rem; }
    @media (max-width: 600px) {
      .business-design__header {
        display: none; } }

.section-credentials-desktop {
  width: 50%; }
  @media (max-width: 600px) {
    .section-credentials-desktop {
      background-color: var(--color-primary-luna);
      width: 100%; } }
  @media (min-width: 600px) {
    .section-credentials-desktop {
      background-color: white !important;
      z-index: 100; } }
  .section-credentials-desktop .user-credentials-mobile {
    margin-top: 21rem;
    display: none; }
    @media (max-width: 600px) {
      .section-credentials-desktop .user-credentials-mobile {
        display: block; } }
    .section-credentials-desktop .user-credentials-mobile__btn-container {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .section-credentials-desktop .user-credentials-mobile__btn-container > button {
        margin-bottom: 2rem; }
    .section-credentials-desktop .user-credentials-mobile__heading-container {
      margin-top: 17rem; }

.login-content {
  display: flex;
  min-height: 100vh; }

.btn {
  width: 100%;
  padding: 1rem;
  display: inline-block;
  border-radius: 4px;
  border: none;
  cursor: pointer; }
  @media (max-width: 600px) {
    .btn {
      width: 100%;
      padding: 2rem;
      font-size: 2.1rem;
      display: flex;
      justify-content: center; } }

.btn-primary {
  color: var(--color-secondary-dobby);
  background-color: var(--color-primary-harry); }

.btn-secondary {
  color: var(--color-primary-hermione);
  background-color: transparent;
  border: 1px solid currentColor;
  transition: transform .5s; }
  .btn-secondary:hover {
    color: var(--color-secondary-dobby);
    background-color: var(--color-primary-hermione); }

.btn-tertiary {
  color: var(--color-secondary-dobby);
  background-color: var(--color-primary-hermione); }

.btn-quaternary {
  color: var(--color-primary-harry);
  background-color: transparent;
  border: 1px solid currentColor;
  transition: transform .5s; }
  .btn-quaternary:hover {
    color: var(--color-secondary-dobby);
    background-color: var(--color-primary-harry); }

.form {
  width: 35rem;
  font-size: inherit;
  margin-top: 6rem; }
  @media (max-width: 600px) {
    .form {
      font-size: 2rem; } }
  @media (max-width: 600px) {
    .form {
      margin: 0 auto;
      width: 80%; } }
  .form__group {
    margin-bottom: 2rem;
    font-weight: 100; }
  .form__label {
    display: block;
    margin-bottom: 1rem;
    color: var(--color-primary-harry);
    font-weight: 500; }
    .form__label--2 {
      color: var(--color-primary-hermione); }
  .form__checkbox {
    transform: scale(1.5);
    margin-right: 1rem;
    margin-left: .5rem; }
  .form__forgot-password {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    color: var(--color-primary-harry);
    text-align: right;
    margin-bottom: 2rem; }
  .form__social {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    text-align: center;
    color: var(--color-primary-hermione); }
  .form__input {
    width: 100%;
    padding: 1rem;
    font-weight: inherit;
    border: 1px solid var(--color-secondary-voldemort);
    border-radius: 4px; }
    .form__input::placeholder {
      color: var(--color-secondary-severus); }
    .form__input:focus {
      border: 1px solid var(--color-secondary-voldemort); }
  .form__icons-container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly; }
  .form__icon {
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    min-width: 5rem;
    background-color: rgba(199, 202, 217, 0.32); }

.eye-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 55%;
  left: 90%;
  cursor: pointer; }
  @media (max-width: 600px) {
    .eye-icon {
      width: 20px;
      height: 20px;
      top: 60%; } }

.logo {
  font-size: 2.5rem;
  position: relative;
  margin-top: 4rem; }
  @media (max-width: 600px) {
    .logo {
      font-size: 6rem;
      display: flex;
      justify-content: center;
      position: relative;
      margin-left: -1.5rem;
      margin-top: 5rem;
      width: 100%;
      display: none; } }
  .logo--first {
    position: absolute;
    font-weight: 600;
    color: var(--color-primary-harry);
    background-color: var(--color-primary-hermione);
    border-radius: 50%;
    padding: 1.1rem; }
    @media (max-width: 600px) {
      .logo--first {
        position: initial;
        transform: translateX(3rem); } }
  .logo--second {
    display: flex;
    justify-content: flex-end;
    margin-left: 3.8rem;
    font-weight: 600;
    color: var(--color-secondary-dobby);
    background-color: var(--color-primary-harry);
    border-radius: 500px;
    padding: 1.2rem;
    width: 14rem; }
    @media (max-width: 600px) {
      .logo--second {
        display: flex;
        justify-content: flex-end;
        width: 28rem;
        padding: 1rem;
        height: fit-content;
        margin-left: 0; } }
  .logo--small {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: -3.5rem;
    margin-top: 5rem;
    width: 100%; }
    .logo--small--first {
      font-weight: 600;
      color: var(--color-primary-harry);
      background-color: var(--color-primary-hermione);
      border-radius: 50%;
      padding: 1.1rem;
      transform: translateX(3rem); }
    .logo--small--second {
      display: flex;
      justify-content: flex-end;
      width: 20.6rem;
      padding: 1rem;
      height: fit-content;
      margin-left: 0;
      color: var(--color-secondary-dobby);
      background-color: var(--color-primary-harry);
      border-radius: 500px; }
  .logo--big {
    font-size: 5.3rem;
    display: flex;
    justify-content: center;
    margin-left: -1.5rem;
    margin-top: 5rem;
    width: 100%; }
    .logo--big--first {
      font-weight: 600;
      color: var(--color-primary-harry);
      background-color: var(--color-primary-hermione);
      border-radius: 50%;
      padding: 1.1rem;
      position: initial;
      transform: translateX(3rem); }
    .logo--big--second {
      display: flex;
      justify-content: flex-end;
      width: 28rem;
      padding: 1rem;
      height: fit-content;
      margin-left: 0;
      color: var(--color-secondary-dobby);
      background-color: var(--color-primary-harry);
      font-weight: 600;
      border-radius: 500px; }

.slide-up-menu {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: -46rem;
  background-color: var(--color-secondary-dobby);
  padding: 5% 0%;
  transition: .6s;
  height: 46rem;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  z-index: 20; }
  @media (min-width: 600px) {
    .slide-up-menu {
      display: none; } }
  .slide-up-menu-close {
    position: relative;
    left: -17%; }
  .slide-up-menu-toggle {
    display: block;
    width: 45%;
    height: 1rem;
    background: var(--color-primary-harry);
    border-radius: 1rem;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 3rem; }
    @media (min-width: 600px) {
      .slide-up-menu-toggle {
        display: none; } }
  .slide-up-menu__info {
    color: var(--color-primary-harry);
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    font-size: 2.5rem; }
    .slide-up-menu__info > p {
      display: inline-block;
      font-weight: 500; }
  .slide-up-menu > .menu {
    width: 100%; }
  .slide-up-menu > .menu__links {
    list-style: none;
    text-align: center;
    padding: 1rem; }
    .slide-up-menu > .menu__links > li:not(:last-child) {
      margin-bottom: 2rem; }
    .slide-up-menu > .menu__links > li {
      border: 1px solid var(--color-secondary-voldemort);
      position: relative;
      width: 90%;
      margin-left: 2.5rem;
      padding: 1.5rem;
      border-radius: 3px;
      max-height: 7rem; }
    .slide-up-menu > .menu__links > li > a {
      color: var(--color-primary-harry);
      font-size: 2.2rem;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center; }
      .slide-up-menu > .menu__links > li > a > .menu__apple-icon {
        width: 3.5rem;
        height: 3.5rem; }
      .slide-up-menu > .menu__links > li > a > .menu__facebook-icon {
        width: 3rem;
        height: 3rem; }
      .slide-up-menu > .menu__links > li > a > .menu__google-icon {
        width: 5rem;
        height: 5rem; }

.navToggle {
  bottom: -3.3rem; }

.notification--success {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: var(--color-notification-success);
  text-align: center;
  color: var(--color-secondary-dobby);
  font-size: 1.8rem;
  height: 0;
  transition-timing-function: ease-in;
  animation: notification-deploy 5s;
  width: 100%;
  z-index: 200; }

.notification-mobile--success {
  display: flex;
  position: fixed;
  bottom: -4rem;
  left: 0;
  margin: 0;
  z-index: 200;
  justify-content: center;
  align-items: center;
  background-color: var(--color-notification-success);
  text-align: center;
  color: var(--color-secondary-dobby);
  height: 8.5rem;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 2rem;
  animation: notification-deploy-bottom 5s ease forwards; }
  .notification-mobile--success > span {
    max-width: 23rem; }

@keyframes notification-deploy {
  0% {
    transform: translateY(-6rem); }
  30% {
    height: 5rem;
    transform: translateY(0px); }
  55% {
    height: 5rem;
    transform: translateY(0px); }
  100% {
    height: 0;
    transform: translateY(-6rem); } }

@keyframes notification-deploy-bottom {
  0% {
    transform: translateY(6rem); }
  30% {
    transform: translateY(-4rem); }
  55% {
    transform: translateY(-4rem); }
  100% {
    transform: translateY(6rem); } }
