:root{
    //primary colors
    --color-primary-luna:#FBEFEC;
    --color-primary-harry:#215E99;
    --color-primary-hagrid:#000000;
    --color-primary-hermione:#EC552F;

    //secondary colors
    --color-secondary-dobby:#FFFFFF;
    --color-secondary-Ron:#FFF7ED;
    --color-secondary-severus:#7F8E9D;
    --color-secondary-voldemort:#C7CAD9;

    //notifications
    --color-notification-success: #4CA484;

}

*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

body{

}
