
html{
    font-size: 62.5%;

    @include respond(phone){
        font-size: 50%;
    }
}

.heading-secondary{
    color: var(--color-primary-hermione);
    margin-bottom: 1rem;

    @include respond(phone){
        font-size: 3rem;
    }
}

.heading-tertiary{
    color: var(--color-primary-hermione);
    margin-bottom: 4rem;
    font-weight: 100;

    @include respond(phone){
        font-size: 2.5rem;
    }
}


.heading-secondary--form{
    color: var(--color-primary-hermione);
    margin-bottom: 4rem;
    font-weight: 100;

    @include respond(phone){
        font-size: 3rem;
        margin-left: 10%;
    }
}

.heading-secondary--form--mobile{
    color: var(--color-primary-hermione);
    margin-bottom: 4rem;
    font-weight: 100;
    margin-left: 10%;
    font-size: 2.2rem;
  
}