
.user-credentials{
    display: flex;
    justify-content: center;
   @include respond(phone){
       display: none;
   }
    
    &__go-back{
        width: fit-content;
        & > span{
            color: var(--color-primary-harry);
            margin-left: 8rem;
            font-size: 4rem;
        }
    }

    &__container{
        padding: 8rem;
        font-size: 1.5rem;
        position: relative;

        .heading-secondary{
            color: var(--color-primary-hermione);
            margin-bottom: 1rem;
        }
        
        .heading-tertiary{
            color: var(--color-primary-hermione);
            margin-bottom: 4rem;
            font-weight: 100;
        }

    }

    &__link{
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: 5.5rem;
        font-weight: 500;
        color: var(--color-primary-harry);
        
        span>a{
            color: var(--color-primary-hermione);
            text-decoration: none;
        }
        
        @include respond(phone){
            position: initial;
            font-size: 2rem;
            margin-top: 0;
        }
    }

}


.user-credentials-mobile{
    font-size: 2.5rem;

    @include respond(desktop){
        display: none;
    }


}